:root {
  --prmry-color-1: #1f2937;
  --prmry-color-2: #e5e7eb;
  --cta-color: #3882f6;
  --hero-main-text-color: #f9faf8;
  --header-logo-text-color: #f9faf8;

  --hero-main-font-size: 3.5rem;
  --hero-secondary-font-size: 1.2rem;
  --header-logo-font-size: 2rem;
  --header-info-font-size: 3rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sm-padding-inline {
  padding-inline: 12rem;
}

.resume__header {
  background-color: var(--prmry-color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-block-end: 5rem;
  color: #ffff;
}

.resume__header-nav {
  display: flex;
  gap: 1rem;
}

.resume__header-nav li a:link,
.resume__header-nav li a:active {
  color: #ffff;
  text-transform: uppercase;
  font-size: 0.85rem;
}
.resume__header-nav li a:hover {
  color: #ffffff9f;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.resume__header-nav li a:visited {
  color: #ffff;
}

.resume__introductory {
  background-color: var(--prmry-color-1);
  color: var(--hero-main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume__introductory-photo {
  max-width: 20rem;
}
